# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Binary files
*.o

# Swig Intermediate Files
*_wrap.c
*_wrap.cxx
*.gch
*.swp

gen/

# Perl module
*.pm

# Node modules and packages
bower_components/
node_modules/

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.project
*.cproject
*.ccsproject
*.settings/

# Vim temporary files:
*.swo
*.swp
*.swn
*.swm

# My temp output file
a.out
