[Unit]
Description=Daemon Service to serve PRU access requests for non-root processes
ConditionPathExists=|DIR

[Service]
WorkingDirectory=DIR/prussd
ExecStart=DIR/prussd/prussd.py
ExecStopPost=/bin/sh -c 'rm /tmp/prussd.sock'
Restart=on-failure
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=prussd.service
