[Unit]
Description = Service for PRU Access

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/debian/PRUSS-Bindings/prussd/prudaemon.py
ExecStopPost=/bin/sh -c 'rm /tmp/prusocket'
StandardOutput=null

[Install]
WantedBy=multi-user.target
Alias=prussd.service
